*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(images/background.png);
    font-family:'Nishiki-teki', Tahoma, Geneva, Verdana, sans-serif
}

nav{
    background-color: rgb(247, 132, 4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 8px 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(235, 233, 63);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav a:hover{
    background-color: rgb(250, 161, 15);
}